@model LAB456.ViewModels.CoursesViewModel
@{
    ViewBag.Title = "Home Page";
}
@using Microsoft.AspNet.Identity
<h2>Schedule</h2>
<div class="row">
    <ul class="course">
        @foreach (var course in Model.UpcommingCourses)
        {
            <br />
            <li>
                <div class="date">
                    <div class="month">
                        @course.DateTime.ToString("MM")
                    </div>
                    <div class="day">
                        @course.DateTime.ToString("dd")
                    </div>
                </div>
                <div class="details">
                    <span class="lecturer">
                        @course.Lecturer.Name
                        @if (Model.ShowAction)
                        {
                            if (@course.LecturerId == User.Identity.GetUserId())
                            {

                            }
                            else
                            {
                                bool isFollowing = Model.ListOfFollowings.Any(f => f.Followee.Id == @course.LecturerId);
                                if (isFollowing == true)
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-link btn-sm js-toggle-follow">
                                        Following
                                    </button>
                                }
                                else
                                {
                                    <button data-user-id="@course.LecturerId" class="btn btn-link btn-sm js-toggle-follow">
                                        Follow
                                    </button>
                                }
                            }
                        }
                        @*@if (Model.ShowAction)
            {
                <button class="btn btn-default btn-sm js-toggle-follow" data-user-id="@course.LecturerId">Follow</button>

            }*@
                    </span>
                    <span class="category">
                        @course.Category.Name
                        @if (Model.ShowAction)
                        {
                            if (@course.LecturerId == User.Identity.GetUserId())
                            {
                                <p style="color:brown">You own it</p>
                            }
                            else
                            {
                                bool isGoing = Model.ListOfAttendedCourses.Any(c => c.CourseId == @course.Id);
                                if (isGoing == true)
                                {
                                    <button data-course-id="@course.Id" class="btn btn-info btn-sm js-toggle-attendance">Going</button>
                                }
                                else
                                {
                                    <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going ?</button>
                                }
                            }
                        }
                        @*@if (Model.ShowAction)
            {
                <button data-course-id="@course.Id" class="btn btn-default btn-sm js-toggle-attendance">Going ?</button>

            }*@

                    </span>
                    <a href="@Url.Action("Detail", "Courses", new { id = course.Id })" class="btn btn-info">
                        Detail
                    </a>
                </div>

            </li>
        }
    </ul>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $(".js-toggle-attendance").click(function (e) {
                var button = $(e.target);
                $.post("/api/attendances", { courseId: button.attr("data-course-id") })
                    .done(function () {
                        if (button.text().trim() === "Going ?") {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                        } else {
                            button
                                .removeClass("btn-info")
                                .addClass("btn-default")
                                .text("Going ?");
                        }
                        //button
                        //        .removeClass("btn-default")
                        //        .addClass("btn-info")
                        //        .text("Going");
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
            $(".js-toggle-follow").click(function (e) {
                var button = $(e.target);
                $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                    .done(function () {
                        if (button.text().trim() === "Follow") {
                            button.text("Following");
                        }
                        else {
                            button.text("Follow");
                        }
                    })
                    .fail(function () {
                        alert("Something failed!");
                    });
            });
        });</script>
}